html {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

.conversion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-text {
    flex-grow: 1;
}

.output-text {
    flex-grow: 1;
}

.output-text textarea {
    background-color: #cecece;
}

textarea {
    background: none;
    font-size: 2rem;
    resize: none;
    padding: 0;
    height: 200px;
    width: 100%;
    outline: none;
    border: none;
    /* overflow: hidden; */
}

/* Tooltip */
.tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;

    /* Position the tooltip */
    position: relative;
    top: -5px;
    z-index: 1;

    /* Fade In Animation */
    opacity: 0;
    transition: opacity 0.25s;
}

.output-text:hover .tooltiptext {
    visibility: visible;

    /* Fade In Animation */
    opacity: 1;
}

/* Tooltip Arrow */
.output-text .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;

    /* Fade In Animation */
    opacity: 1;
}