html {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
    /* height: 100%; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Switch button */
.switch-section {
    /* align-content: center; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
}

#switch-button {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background: none;
    opacity: 0.5;
    padding: 0px;
    margin: 0 20px;
}

#switch-button:hover {
    -webkit-animation: rotateButton 0.5s;
    animation: rotateButton 0.5s;
}

@keyframes rotateButton {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(180deg);
    }
}

.conversion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-row {
    display: flex;
}

/* Copy Button */
.copy-section {
    display: flex;
}

.copy-button {
    margin: 0 10px;
    width: 1.5rem;
    opacity: 0.5;
}

/* Tooltip */
.tooltip {
    position: absolute;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;

    /* Position the tooltip */
    position: relative;
    bottom: 5px;
    left: -4px;

    /* Fade In Animation */
    opacity: 0;
    transition: opacity 0.2s;
}

.copy-section:hover .tooltiptext {
    visibility: visible;

    /* Fade In Animation */
    opacity: 1;
}

/* Tooltip Arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;

    /* Fade In Animation */
    opacity: 1;
}

.text-row {
    /* border: solid 1px #cecece; */
    margin-right: 10px;
    display: flex;
}

textarea {
    background: none;
    font-size: 2rem;
    overflow: hidden;
    resize: none;
    padding: 10px;
    min-height: 20px;
    width: 90%;
    outline: none;
    /* border: solid 1px #cecece; */
    border: none;
}

/* Input Section */
.input-text {
    flex-grow: 1;
}

.clear-text-icon {
    visibility: hidden;
    margin: 0 10px;
    width: 1.5rem;
    opacity: 0.5;
}

/* Output Section */
.output-text {
    flex-grow: 1;
}

.output-text .text-row {
    background-color: #e7e7e7;
}

/* Cipher Key Section */
.cipher-key-section {
    margin-top: 10px;
    bottom: 0px;
}

/* .cipher-key-section button {
    width: 50px;
    height: 50px;
} */

.cipher-key-section #cipher-key {
    width: 50px;
    margin: 0px 10px;
    /* height: 44px; */
}