html {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

.conversion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-row {
    display: flex;
}

/* Copy Button */
.copy {
    display: flex;
}

.copy-icon {
    margin: 0 10px;
    width: 1.5rem;
    opacity: 0.5;
}

/* Tooltip */
.tooltip {
    position: absolute;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;

    /* Position the tooltip */
    position: relative;
    bottom: 5px;
    left: -4px;

    /* Fade In Animation */
    opacity: 0;
    transition: opacity 0.2s;
}

.copy:hover .tooltiptext {
    visibility: visible;

    /* Fade In Animation */
    opacity: 1;
}

/* Tooltip Arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;

    /* Fade In Animation */
    opacity: 1;
}

/* Input Section */
.input-text {
    flex-grow: 1;
}

/* Output Section */
.output-text {
    flex-grow: 1;
}

.output-text textarea {
    background-color: #e7e7e7;
}

textarea {
    background: none;
    font-size: 2rem;
    resize: none;
    padding: 10px;
    height: 200px;
    width: 90%;
    outline: none;
    border: solid 1px #cecece;
}